# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Data
data/
*.gz
*.zip

# Outputs & Logs
outputs/
*.log
*.png
*.jpg
*.svg

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
